# tex编译附带文件及pdf结果
*.aux
*.log
*.out
*.synctex.gz
*.pdf

# 编辑器配置文件
.vscode

# 数据集
data

# python cache
__pycache__

# 模型文件
*.pth
*.pt
!best_model/model.pt

# logs
log.txt

# 数据可视化
*.png

# claude code 配置文件
.claude